<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    
   <add
      name = "BookMagazine"
      connectionString = "Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Programming\Visual Studio\Data Base Forms\Test Configuration\Test Configuration\BookMagazine.mdf;Integrated Security=True"
      providerName = "System.Data.SqlClient"/>


    <add
      name = "BookMagazineRemoveWin"
      connectionString = "Data Source=10.6.1.191;Initial Catalog=BookMagazine;Integrated Security=True;"
      providerName = "System.Data.SqlClient"/>


   <!--<add
      name = "BookMagazineRemoveSql"
      connectionString = ""
      providerName = "System.Data.SqlClient">
   </add>-->
    
  </connectionStrings>
</configuration>